*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
}
:root{
    --dark-01:#131313;
    --dark-02:#424242;
    --dark-03:#727272;
    --white:#FFFFFF;
    --orange:#FF900E;
}

/**share style**/
.display-flex{
    display: flex;
}


/**Header style**/
.header-container{
    max-width:1920px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0px 240px 45px 240px;
    margin: auto;
}
/**navbar style**/
.nav-bar{
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}
.nav-bar h3{
    font-size: 2.8125rem;
    font-weight: 700;
    color: var(--dark-01);
}
.nav-bar-items ul{
    gap: 40px;
}
.nav-bar-items ul li{
    list-style: none;
}
.nav-bar-items ul li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--dark-02);
}
/**banner section**/
.brand-hero-container{
    align-items: center;
    justify-content: center;
}
.brand-title{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.brand-title h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-01);
}
.brand-title p{
    max-width: 862px;
    text-align: center;
    margin-top: 24px;
}
.brand-explore-btn{
    justify-content: center;
    padding: 32px 0px 50px 0px;
}
.Explore-btn {
padding: 20px 24px;
}
.Explore-btn, .Experience-btn {
    position: relative;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.Explore-btn::before, .Experience-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #ff7300;
    z-index: -1;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

.Explore-btn:hover::before, 
.Experience-btn:hover::before {
    width: 100%;
}

.brand-image img{
    width: 100%;
}
/**main container part start **/
.main-container{
    max-width: 1440px;
    margin: 0 auto;
}

/** team management part start style **/
.team-management{
    align-items: center;
    justify-content: space-between;
    gap: 73px;
    margin-top: 85px;
}
.teams-communication{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features-titile{
    font-size: 2.8125rem;
    margin-bottom: 24px;
}
#quick-list{
    color: var(--dark-03);
    font-weight: 400;
}
#of-our{
    color: var(--dark-01);
    font-weight: 700;
}
#feature{
    color: var(--orange);
    font-weight: 700;
}
.description{
    color: var(--dark-03);
    font-size: 1rem;
}
/**features-container**/
.features-container{}
.features-content{
    align-items: center;
    justify-content: space-between;
    gap: 54px;
    margin-top: 104px;
}
.desktopmobile-card{
    flex-direction: column;
    gap: 20px;
}
.love-enjoy{
    padding-left: 21px;
    border-left: 5px solid var(--orange);
}
#love-enjoy{
    font-size: 2.8125rem;
    color: var(--dark-01);
    font-weight: 700;
    margin-bottom: 24px;
}
.feature-experience-img{
    max-width: 880px;
}
.Experience-btn{
    padding: 46px 42px;
    border-radius: 8px;
    margin-left: -92px;
    margin-top: -120px;
}
#year{
    font-size: 4.0625rem;
    font-weight: 700;
}
#Experience{
    font-size: 1.5625rem;

}
.mb{
    margin-bottom: 30px;
}
.card-items{
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.feature-love-title{
    width: 586px;
}

/**small device**/
@media only screen and (max-width: 576px) {

    /**header responsive**/
    .header-container{
        max-width: 576px;
        background-color: rgba(255, 144, 14, 0.1);
        padding: 0 20px 20px ;
    }
    .nav-bar{
        flex-direction: column;
        gap: 48px;
        padding: 20px 0;
    }
    .nav-bar-items ul{
        flex-direction: column;
        text-align: center;
    }
    .brand-hero-container{
        display: flex;
        flex-direction: column-reverse;
    }

    /**main content team communication section responsive**/
    .main-container{
        max-width: 576px;
        padding: 20px;
    }
    .team-management{
        flex-direction: column;
    }
    .teams-communication{
        grid-template-columns: repeat(1,1fr);
    }
    .features-content{
        flex-direction: column;
        margin-top: 20px;
    }
    .feature-love-title{
        width: 100%;
    }
    .feature-experience-img{
        width: 100%;
    }
    .architects-img img{
        width: 100%;
    }
    .Experience-btn{
        margin: 20px 0px 0px 0px;
    }
}
